@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('http://fonts.cdnfonts.com/css/new-super-mario-font-u');


$dark: #35414a;
$semilight: #86919a;
$blue: #5aafee;


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #4E86B4;
}

.colors-title {
  font-family: 'New Super Mario Font U', sans-serif; 
  letter-spacing: 1px;
  font-size: 5rem;
  text-shadow: 10px 0 #000000, -10px 0 #000000, 0 10px #000000, 0 -10px #000000,
  7px 7px #000000, -7px -7px #000000, 7px -7px #000000, -7px 7px #000000;

}

.input-block{
  position: relative;
  display: inline-block;
  width: 300px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #23272A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;
  margin: 5px;
}

.select-text {
  background-color: #23272A;
  width: 20em;
  text-align: center;
  justify-content: center;
  margin: 1em auto;
  color: $semilight;
  text-transform: uppercase;
  position: relative;
  border-radius: 2rem;
  

  
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.input-container {
  font-family: "Open Sans", sans; 
}

.btn-send {
  background: #23272A;
  margin-top: 10px;
  border: 1px solid #23272A;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'New Super Mario Font U', sans-serif;  
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-send:hover,
.btn-send:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.btn-send:active {
  opacity: .5;
}
.headline {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  flex-direction: column;
}
.ladoAlado {
  display: flex;
  margin: 0 -3px;
}
.input-container {
  margin-left: 3rem;

}
.select-text {
    width: 20em;
    text-align: center;
    justify-content: center;
    font-family: pfs-bold;
    text-transform: uppercase;
    position: relative;
    border-radius: 2rem;
    text-decoration: none;
    border: #000 solid 2px;
    margin: 4px;
}

.input-container {
  position: relative;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 2px;
  .select-text {
    font-family: "helvetica neue", helvetica;
    font-size: 1rem;
    font-weight: 200;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    appearance: none;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
  }
}